.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  color: var(--white);
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.list {
  background-color: var(--dark-900);
  border: 1px solid var(--gray-100);
  border-radius: 0.5rem;
  padding: 3rem;
  font-size: large;
  color: var(--white);
  list-style: none;
  line-height: 3rem;
  font-weight: bold;
}

.span {
  color: var(--red-900);
  font-weight: bold;
}
